@model IEnumerable<CmsShoppingCart.Models.Page>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
              Title
            </th>
            <th>
              Slug
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.PageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.PageId">Edit</a>|
                <a asp-action="Details" asp-route-id="@item.PageId">Details</a>|
                @if (item.Slug != "home")
                {
                <a asp-action="Delete"  class="ConfirmDelete" asp-route-id="@item.PageId">Delete</a>
                }
               
            </td>
        </tr>
}
    </tbody>
</table>
