@model IEnumerable<CmsShoppingCart.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="categories">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|

                    <a asp-action="Delete" class="ConfirmDelete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $("table#categories tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let id = $("table#categories tbody").sortable("serialize");
                console.log(id);
                let url = "/admin/categories/reorder";
                $.post(url, id, function () { });


            }
        });
    </script>
}